<!DOCTYPE html>
<html>
  <body>
    <h1>Sorry, you have lost the game.<br>The number was: <%= session[:secret_number] %> </h1>
    <form action="/reset", method = "post">
      <label for="reset">Play again</label>
      <input type="submit" id="reset" name="reset">
    </form>
  </body>
</html>
